<div class="py-8 px-4 rounded-xl bg-white">
	<div>Last Name: <%= user.first_name %></div>
	<div>First Name: <%= user.last_name %></div>
	<div>Nickname: <%= user.nickname %></div>
	<div>Email: <%= user.email %></div>
	<div>Created Date: <%= user.created_at %></div>
	<div>Updated Date: <%= user.updated_at %></div>
</div>
